appdirs==1.4.4
attrs==22.2.0
autopage==0.5.2
Babel==2.11.0
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==2.0.12
cliff==3.10.1
cmd2==2.4.3
cryptography==40.0.2
debtcollector==2.5.0
decorator==5.1.1
dogpile.cache==1.2.2
idna==3.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
iso8601==1.1.0
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.3
keystoneauth1==5.1.2
msgpack==1.0.5
netaddr==0.10.1
netifaces==0.11.0
openstacksdk==1.5.0
os-service-types==1.7.0
osc-lib==2.9.0
oslo.config==8.8.1
oslo.i18n==5.1.0
oslo.serialization==4.3.0
oslo.utils==4.13.0
packaging==21.3
pbr==6.0.0
prettytable==2.5.0
pycparser==2.21
pyparsing==3.1.1
pyperclip==1.8.2
python-cinderclient==8.3.0
python-heatclient==2.5.1
python-keystoneclient==4.5.0
python-novaclient==17.7.0
python-openstackclient==5.8.1
python-swiftclient==4.4.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.27.1
requestsexceptions==1.4.0
rfc3986==1.5.0
simplejson==3.19.2
six==1.16.0
stevedore==3.5.2
typing_extensions==4.1.1
urllib3==1.26.18
wcwidth==0.2.13
wrapt==1.16.0
zipp==3.6.0
